.editor {
  position: relative;

  &__content {
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 12px 15px;
    word-wrap: break-word;
    line-height: 1.5rem;

    * {
      caret-color: currentColor;
    }

    .ProseMirror-focused {
      outline: none;
    }

    pre {
      padding: .7rem 1rem;
      border-radius: 5px;
      color: $code-text;
      background: $code-background;
      font-size: .9rem;
      overflow-x: auto;

      &::before {
        content: attr(data-language);
        text-transform: uppercase;
        display: block;
        text-align: right;
        font-weight: bold;
        font-size: 0.6rem;
      }

      code {
        @import "~highlight.js/styles/dracula";
      }
    }

    p code {
      display: inline-block;
      padding: 0 0.4rem;
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: bold;
      color: $code-text;
      background: $code-background;
    }

    ul,
    ol {
      padding-left: 1rem;
    }

    li > p,
    li > ol,
    li > ul {
      margin: 0;
    }

    a {
      //color: inherit;
    }

    blockquote {
      border-left: 3px solid rgba($black, 0.1);
      color: rgba($black, 0.8);
      padding-left: 0.8rem;
      font-style: italic;

      p {
        margin: 0;
      }
    }

    img, picture {
      max-width: 100%;
      border-radius: 3px;

      &.ProseMirror-selectednode {
        outline: thin dashed dimgrey;
      }
    }

    .picture {
      &:hover {
        outline: thin dashed dimgrey;
      }
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      margin: 0;
      overflow: hidden;

      td, th {
        min-width: 1em;
        border: 2px solid $grey;
        padding: 3px 5px;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;

        > * {
          margin-bottom: 0;
        }
      }

      th {
        font-weight: bold;
        text-align: left;
      }

      .selectedCell:after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(200, 200, 255, 0.4);
        pointer-events: none;
      }

      .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: 0;
        width: 4px;
        z-index: 20;
        background-color: #adf;
        pointer-events: none;
      }
    }

    .tableWrapper {
      margin: 1em 0;
      overflow-x: auto;
    }

    .resize-cursor {
      cursor: ew-resize;
      cursor: col-resize;
    }

    .iframe {
      &__embed {
        width: 100%;
        height: 15rem;
        border: 0;
      }

      &__input {
        display: block;
        width: 100%;
        font: inherit;
        border: 0;
        border-radius: 5px;
        background-color: rgba($black, 0.1);
        padding: 0.3rem 0.5rem;
      }
    }
  }
}
