.menubar {
  transition: visibility 0.2s 0.4s, opacity 0.2s 0.4s;
  box-sizing: border-box;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.is-focused {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.2s, opacity 0.2s;
  }
}
