{% extends "auth/base.html" %}

{% block content %}
    <div class="col-md-6">
        <div class="card mx-4">
            <form action="" method="post" class="card-body p-4">
                <h1>{{ _('Reset Your Password') }}</h1>
                {{ form.hidden_tag() }}

                {% for error in form.password.errors %}
                    <small style="color: red; font-weight: bold">{{ error }}</small>
                {% endfor %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                    </div>
                    {{ form.password(size=32, class_="form-control", placeholder=_("Password")) }}
                    <div>
                    </div>
                </div>


                {% for error in form.password2.errors %}
                    <small style="color: red; font-weight: bold">{{ error }}</small>
                {% endfor %}
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="icon-lock"></i>
                  </span>
                    </div>
                    {{ form.password2(size=32, class_="form-control", placeholder=_("Repeat password")) }}
                </div>
                <p>{{ form.submit(class_="btn btn-block btn-success") }}</p>
            </form>
        </div>
    </div>
{% endblock %}