{% extends "auth/base.html" %}

{% block content %}
    <div class="col-md-6">
        <div class="card mx-4">
            <form action="" method="post" class="card-body p-4">
                <h1>{{ _('Reset Password') }}</h1>
                {{ form.hidden_tag() }}

                {% for error in form.email.errors %}
                    <small style="color: red; font-weight: bold">{{ error }}</small>
                {% endfor %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                    </div>
                    {{ form.email(size=64, class_="form-control", type="email", placeholder=_("E-mail")) }}
                </div>
                <p>{{ form.submit(class_="btn btn-block btn-success") }}</p>
            </form>
        </div>
    </div>
{% endblock %}