{% extends "admin/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans %}Posts{% endtrans %}</b>
                    <div class="card-header-actions">
                        <a class="btn btn-sm btn-primary" href="{{ url_for('admin.users_create') }}">
                            {% trans %}Create new user{% endtrans %}
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">{% trans %}Name{% endtrans %}</th>
                            <th scope="col">{% trans %}E-mail{% endtrans %}</th>
                            <th scope="col">{% trans %}Created{% endtrans %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <th scope="row">{{ user.id }}</th>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <time datetime="{{ user.created_at.strftime('%Y-%m-%d %H:%M:%S') }}">
                                        {{ user.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
                                    </time>
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.user', id=user.id) }}"
                                       title="{% trans %}Edit{% endtrans %}"
                                       class="btn btn-sm btn-outline-primary">
                                        <i class="far fa-edit"></i>
                                    </a>
                                    {% if current_user.id != user.id %}
                                        <button @click.prevent='sendDeleteRequest("{{ url_for('admin.user', id=user.id, _external=True) }}")'
                                                title="{% trans %}Delete{% endtrans %}"
                                                class="btn btn-sm btn-outline-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    {% else %}
                                        <button title="{% trans %}You can not delete yourself{% endtrans %}"
                                                class="btn btn-sm btn-outline-dark"
                                                disabled>
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">{% trans %}No users found{% endtrans %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <!-- TODO -->
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">Prev</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}