{% extends "admin/base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <form method="post" action="" class="form-horizontal">
                    <div class="card-header">
                        <b>{% trans %}Edit{% endtrans %}</b> {% trans %}your profile{% endtrans %}
                    </div>
                    <div class="card-body">
                        {{ form.csrf_token }}
                        <input type="hidden" name="_method" value="PUT">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">{% trans %}E-mail{% endtrans %}</label>
                                    <div class="col-md-9">
                                        {{ form.email(size=64, class_="form-control", type="email", placeholder=_("E-mail")) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">{% trans %}Password{% endtrans %}</label>
                                    <div class="col-md-9">
                                        {{ form.password(size=32, class_="form-control", type="password", placeholder=_("Password")) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">{% trans %}Repeat
                                        password{% endtrans %}</label>
                                    <div class="col-md-9">
                                        {{ form.password2(size=32, class_="form-control", type="password", placeholder=_("Repeat password")) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">{% trans %}Name{% endtrans %}</label>
                                    <div class="col-md-9">
                                        {{ form.name(size=64, class_="form-control", type="text", placeholder=_("Name")) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">{% trans %}Location{% endtrans %}</label>
                                    <div class="col-md-9">
                                        {{ form.location(size=64, class_="form-control", type="text", placeholder=_("Location")) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">{% trans %}About me{% endtrans %}</label>
                                    <div class="col-md-9">
                                        {{ form.about_me(class_="form-control", type="textarea", rows=6, placeholder=_("About me")) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {{ form.submit(class_='btn btn btn-success') }}
                        <a class="btn btn-danger" href="{{ url_for('admin.index') }}">
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}