// Toast UI Image Editor
@import url("~tui-image-editor/dist/tui-image-editor.min.css");
// Image Viewer
@import url("~viewerjs/dist/viewer.min.css");

.card-body, .edit-image-within-editor {
  .edit-image {
    .tui-image-editor-header {
      display: none !important;
    }

    .tui-image-editor-main {
      top: 0 !important;
    }
  }
}

.preview-img {
  width: 100%;
  max-width: 280px;
  max-height: 280px;
  object-fit: contain;
}

.image-viewer-thumbnail {
  width: 100%;
  max-width: 280px;
  max-height: 280px;
  object-fit: cover;

  &:hover {
    cursor: zoom-in;
  }
}

.modal-xxl {
  max-width: 85% !important;
}