<!DOCTYPE html>
<html lang="{{ language or config['DEFAULT_LANGUAGE'] }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title + ' |' if title else '' }} {{ config['APP_NAME'] }}</title>
</head>
<body>
    <div id="header">
        <b>Navigation goes here</b>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        <b>Footer goes here</b>
    </div>
</body>
</html>