<!DOCTYPE html>
<html lang="{{ g.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title + ' |' if title else '' }} {{ config['APP_NAME'] }}</title>
</head>
<body>
    <div id="header">
        {% include "navigation.html" %}
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% include "footer.html" %}
    </div>
</body>
</html>