<!doctype html>
<html lang="{{ g.locale }}">

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title + ' |' if title else '' }} {{ config['APP_NAME'] }} | ADMIN</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dist/css/backend.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/admin/admin.png') }}">

    <script>window.csrfToken="{{ csrf_token() }}";</script>
    <script defer src="{{ url_for('static', filename='dist/js/backend.js') }}"></script>
    {% block head_includes %}{% endblock %}
</head>
<body class="header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div id="app"></div>
</body>
</html>