@include media-breakpoint-down(sm) {
  .app-header {
    .navbar-brand {
      .navbar-brand-full {
        display: none;
      }

      .navbar-brand-minimized {
        display: block;
      }
    }
  }
}

.el-page-header {
  float: left;
  line-height: 30px;

  &.no-back {
    .el-page-header__left {
      display: none !important;
    }
  }
}

.grecaptcha-badge {
  visibility: collapse !important;
  opacity: 0 !important;
}