// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&subset=latin-ext');
@import "../variables";
@import "~@fortawesome/fontawesome-pro/scss/fontawesome";
@import "~@fortawesome/fontawesome-pro/scss/regular";
@import "~@fortawesome/fontawesome-pro/scss/solid";
@import "~@fortawesome/fontawesome-pro/scss/light";
@import "~@fortawesome/fontawesome-pro/scss/brands";
@import "~simple-line-icons/scss/simple-line-icons";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// CoreUI
@import "~@coreui/coreui/scss/coreui";
// Element UI
@import url("~element-ui/lib/theme-chalk/index.css");

.el-page-header {
  float: left;
  line-height: 30px;

  &.no-back {
    .el-page-header__left {
      display: none !important;
    }
  }
}

// tiptap
@import "tiptap";

.post-tags {
  .el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
}

// Toast UI Image Editor
@import url("~tui-image-editor/dist/tui-image-editor.min.css");

.card-body, .edit-image-within-editor {
  &.edit-image {
    .tui-image-editor-header-buttons {
      display: none !important;
    }
  }
}

// Image Viewer
@import url("~viewerjs/dist/viewer.min.css");

.image-viewer-thumbnail {
  &:hover {
    cursor: zoom-in;
  }
}

.modal-xxl {
  max-width: 85% !important;
}
